/* your styles go here */
.intro {
  background-image: url('../img/Ripples.jpg');
  z-index: 8;
}

.mainLogo {
  content: url("../img/Maine_logo2.jpg");
  opacity: 0.2;
  position: relative;
  bottom: 50%;
}

.content {
  position: relative;
  width: 100%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  z-index: 10;
}

@media (max-width: 320px) {
  .introText {
    position: relative;
    top: 235px;
  }

  .mine {
    font-size: 30px;
  }

  .mainLogo {
    bottom: 60%;
    right: 45%;

  }

}

@media (max-width: 991px) {
  .content {
    position: relative;
    padding: 80px 0;
    top: 0;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
